---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, sans-serif;
$alt-font-family: Garamond, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.125;
$xlarge-font-size:  $base-font-size * 1.5;
$base-line-height: 1.5;

$spacing-unit:     30px;

$red:               #AB4341;
$blue:              #2776A6;
$black:             #353F42;
$tan:               #BDAA86;
$grey:              #828282;
$white:             #fdfdfd;

$text-color:        $black;
$link-color:        $blue;
$background-color:  $white;
$brand-color:       $red;




$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "libs/flexboxgrid",
        "libs/font-awesome/font-awesome"
;
