<form id="advisor-checkin-form" action="https://formspree.io/jplwood@gmail.com" method="post">
    <input type="text" name="_subject" value="Norseman Group Website - Advisor Tutorial Check-In" class="hidden">
    <input type="text" name="_gotcha" class="hidden">
    <input type="text" name="_next" value="#checked-in" class="hidden">

            <div class="form-group">
                <label for="form_name">Name</label><span class="required">*</span>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your name (required)" required="required"
                    data-error="Name is required.">
            </div>
    <div class="row">
        
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="form_email">Email</label><span class="required">*</span>
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email (required)" required="required"
                    data-error="Valid email is required.">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="form_phone">Phone</label><span class="required">*</span>
                <input id="form_phone" type="text" name="phone" class="form-control" placeholder="Please enter your phone number (required)" required="required"
                    data-error="Valid phone number is required.">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form_message">Message</label><span class="required">*</span>
        <textarea id="form_message" name="message" class="form-control" placeholder="Please enter a message (required)" rows="4" maxlength="3000"
            required="required" data-error="Please,leave us a message."></textarea>
    </div>
    <div class="form-group text-right">
        <input type="submit" class="btn btn-default" value="Check In">
    </div>  
</form>

<hr>

<span class="help-block text-center"> Already checked in? <a href="#checked-in">Jump to the tutorial</a></span>
