<nav class="side-menu">
    <ul role="navigation">
        <li class="{% if page.url == '/' %}active{% endif %}">
            <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li class="{% if page.url == '/overview/' %}active{% endif %}">
            <a href="{{ '/overview' | prepend: site.baseurl }}">Overview of Settlements</a>
        </li>
        <li class="{% if page.url == '/about/' %}active{% endif %}">
            <a href="{{ '/about' | prepend: site.baseurl }}">About Norseman</a>
        </li>
        <li class="{% if page.url == '/roadmap/' %}active{% endif %}">
            <a href="{{ '/roadmap' | prepend: site.baseurl }}">Roadmap</a>
        </li>
        <li class="{% if page.url == '/tutorial/' %}active{% endif %}">
            <a href="{{ '/tutorial' | prepend: site.baseurl }}">Advisor Tutorial</a>
        </li>
        <li class="{% if page.url == '/contact/' %}active{% endif %}">
            <a href="{{ '/contact' | prepend: site.baseurl }}">Contact Us</a>
        </li>
    </ul>
</nav>

<script>
    var menufafa = "fa fa-bars";
    var closefafa = "fa fa-close";

    $( document ).ready(function() {
        var $sideMenu = $(".side-menu");

        $( window ).on("resize", function() {
            if ($( window ).width() >= 768) {
                $sideMenu.show();
            }
        });

        $("#toggle").on("click", function() {
            $this = $(this);
            if ($this.hasClass("open")){
                $this.removeClass("open");
                $sideMenu.hide();
                changeIcon($this, menufafa);
            } else {
                $sideMenu.show();
                $this.addClass("open");
                changeIcon($this, closefafa);
            }
            
        });
    });

    function changeIcon(el, iconClass) {
        var span = el.find("span")
        span.removeClass();
        span.addClass(iconClass);
    }
</script>

