<nav>
    <ul role="navigation">
        <!--<li class="{% if page.url == '/' %}active{% endif %}">
            <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li> -->
        {% for my_page in site.pages %}
            {% if my_page.title %}
            <li class="{% if page.url == my_page.url %}active{% endif %}">
                <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li> 
            {% endif %}
        {% endfor %}
    </ul>
</nav>

