/**
 * Background for main content
 */
.bg-wrapper {
    background: linear-gradient( rgba(11,26,9, 0.65), rgba(11,26,9, 0.65) ), url('../images/wooded-trail.jpeg');
    // background: linear-gradient( rgba(38,35,36, 0.7), rgba(38,35,36, 0.7) ), url('../images/wooded-trail.jpeg');
    background-size: 120% auto;
    background-repeat:no-repeat;
    background-position:top;
    height: 100%;

    @include media-query($on-palm){
        background: $green;
    }
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-dark;
    border-bottom: 1px solid $grey-light;
    padding-left: 10px;
    padding-right: 10px;
    // Positioning context for the mobile navigation icon
    position: relative;
    color:$white;
    background: transparent;
}   
.logo {
    a, img {
        display:inline-block;
    }

    img {
        vertical-align: top;
        margin-top: 5px;
        height: 80px;
    }

    a {
        font-family: $fancy-font-family;
        margin-top: 8px;
        color: $white;
        position:relative;

        h1 {
            font-size: 36px;
        }
        &:hover {
            text-decoration:none;
        }
        span {
            display:block;
        }

        span:first-child {
            font-size:smaller;
            position:relative;
            top: 3px;
        }
    }
    @include media-query($on-palm){
        h1 {
            font-size: 24px;
        }
        img {
            height:50px;
        }

        span {
            line-height: 1.5rem;
        }
    }
}


.header-row {
    display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.site-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-dark;
    }
}

.popover {
    color: $red;
}

.site-content {
    background:transparent;
    padding: $spacing-unit 0 60px;
    margin-bottom: 10rem;
}

nav.side-menu {
    font-size: $small-medium-font-size;

    ul {
        margin-left: 0;
        margin-bottom: 15px;
        list-style: none;
        background-color: $white-alpha;
    }
    li {
        padding: 0 20px;

        &.active {
            background-color: $red;
            > a {
                color: $white;
            }

            & + li > a{
                border: none;
            }
        }

        > a {
            position: relative;
            display: block;
            padding: 10px 5px;
            border-top: 1px solid $red;
        }
        
        // &:first-child > a {
        //     padding-top: 30px;
        // }

        &:first-child > a {
            border: none;
            // padding-bottom:30px;
        }
    }
    
}

.site-banner {
    background-image: url(../images/plane.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 200px;
}

.hero {
    font-family: $fancy-font-family;
    font-size: $xlarge-font-size;
    padding-left: 2rem;
    // border: 2px solid $grey-dark;
    background: transparent;
    color: $white;
    margin-bottom: 6rem;
}

.hero-alt {
    font-weight: bold;
    color: $yellow;
    padding: 0;
    background: 0;
}

.panel {
    min-height: 20px;
    padding: 19px;
    border: 1px solid $white;
    background: $white-alpha;
    position:relative;

    .fa {
        color: $tan;
    }



    &.panel-loud {
        text-align:center;
        font-size: $medium-font-size;
        margin-left: 6rem;
        margin-right: 6rem;
        padding: 10px;
        color:$red; 
    }

    &.panel-brand {
        font-family: $fancy-font-family;
        font-size: $medium-font-size;
        color: $text-color;
        padding-top: 20px;
        padding-bottom: 250px;
        background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/plane.jpg');
        background-position: center;
        background-size:cover;

        p.boom {
            font-style: italic;
            margin-bottom: 21rem;
        }
    }



    @include media-query($on-palm) {
        &.panel-brand {
            background: $white-alpha;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

    .table-of-contents {
        float: right;
        top:0;
        right:0;
        padding: 1rem;
        margin-bottom: 10px;
        margin-left: 10px;
        background-color: $white;
        border-radius: 4px;
        max-width: 350px;

        a {
            color: $blue;
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 10px;
        right: 30px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 4px 5px;
        background: $white-alpha;
        color: $red;
        text-align: center;
        font-size: 25px;

        .glyphicon {
            top: -2px;
            margin-right: 2px;
            margin-left: 2px;
        }
    }

/**
 * Site footer
 */
.site-footer {
    background-color: $tan;
    border-top: 1px solid $grey-light;
    padding: 60px 0 0;
        color: $white;
    .wrapper {
        padding-bottom: 60px;
    }
    .footer-description {
        margin-top: 10px;
    }
}

.final-footer {
    line-height:$spacing-unit;
    background: $alpha-dark;
    font-size: smaller;
    text-align: center;
}

.footer-heading {
    font-size: 30px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-title {
    color: $white;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
