/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-dark;
    border-bottom: 1px solid $grey-light;
    padding-left: 10px;
    padding-right: 10px;
    // Positioning context for the mobile navigation icon
    position: relative;
    color:$white;
    background: transparent;
}

a.logo {
    font-family: $fancy-font-family;
    font-size: $large-font-size;
    margin-top: 8px;
    color: $white;
    position:relative;

    h1, img {
        display:inline-block;
        height:5rem;
    }

    img {
        vertical-align: top;
        margin-top: 5px;
    }

    &:before {
        background-image: url("../images/norseman.png");
        height:40px;
        width:40px;
    }

    &:hover {
        text-decoration:none;
    }

    span {
        display:block;
        line-height: 2.5rem;
    }

    span:first-child {
        font-size:smaller;
        position:relative;
        top: 3px;
    }
}

.header-row {
    display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.site-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-dark;
    }
}

.site-content {
    background:transparent;
    
    padding: $spacing-unit 0 60px;
}

// nav {
//     font-family: $fancy-font-family;
//     font-size: $xlarge-font-size;
//     color:$white;
//     ul {
//         margin-left: 0;
//         margin-bottom: 15px;
//         list-style: none;
//         text-align: center;
//         padding: 10px 0;
        

//     }
//     li {
//             display: inline-block;
//             padding: 0 1rem;            
//             border-right:2px solid $white;
//         >a {
//             color:$white;
//             position: relative;
//             &:hover {
//                 color: $white;
//             }

//             &.active {
//                 color: $white;
//             }
//         }
//         &:last-child {
//             border:none;
//         }
//     }
    
// }

nav {
    font-size: $medium-font-size;

    ul {
        margin-left: 0;
        margin-bottom: 15px;
        list-style: none;
        background-color: $white-alpha;
        padding: 10px 20px;
    }
    li {

        >a {
            position: relative;
            display: block;
            padding: 20px 10px;
            border-bottom: 1px solid $red;

            &.active {
                background-color: $red;
                color: $white;
            }
        }
        &:last-child > a {
            border:none;
        }
    }
    
}

.site-banner {
    background-image: url(../images/plane.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 200px;
}

.hero {
    font-family: $fancy-font-family;
    font-size: $xlarge-font-size;
    padding: 1rem 2rem 0.8rem;
    // border: 2px solid $grey-dark;
    background: transparent;
    color: $white;
    margin-bottom: 1rem;
}

.panel {
    margin: 0 $spacing-unit;
    // background-color: $red;
    font-size: $large-font-size;
    text-align:center;
    // border-radius: 10px;
    color: $white;
    min-height: 20px;
    padding: 19px;
    border: 1px solid $white;
}


/**
 * Site footer
 */
.site-footer {
    background-color: $tan;
    border-top: 1px solid $grey-light;
    padding: 60px 0 0;
        color: $white;
    .wrapper {
        padding-bottom: 60px;
    }
    .footer-description {
        margin-top: 10px;
    }
}

.final-footer {
    line-height:$spacing-unit;
    background: $alpha-dark;
    font-size: smaller;
    text-align: center;
}

.footer-heading {
    font-size: 30px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
