<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="bg-wrapper">
      {% include header.html %}
      <div class="site-content">
        <div class="wrapper">
          <div class="page-content">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                {{ content }}

              </div>
              <div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-12 first-xs last-sm">
                <aside class="box">
                  {% include sidebar.html %}
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>

